@charset "UTF-8";
h1{
	text-align:center;
	margin-top:40px;
	margin-bottom:30px;
}
.container{
	max-width: 800px;
}
/*상단 로그인, 회원가입*/
h3{ 
	text-align:right;
	font-size:12px;
	margin-top:20px;
}
a:link{
	color:black;
}
a:visited{
	color:black;
}
/*header*/
header{
	margin-bottom:15px;
}
/*링크*/
a{ 
	text-decoration:none;
}
h1 a:link{
	color:#198754;
}
h1 a:visited{
	color:#198754;
}
article{ /*body부분 본문*/
	position:relative;
}
h2{ /*본문 게시판명*/
	width:250px;
}
.footer{ 
	text-align:center;
	font-size:8pt;
}
/*상단 메뉴바*/
.nav-link{ 
	color:#198754;
}
.nav-link:hover{
   	background-color:#D0E7CB;
	color: #198754;
}
.nav-pills>.nav-item>.active{
	background-color: #198754;
}
/*검색버튼 그룹*/
#search{ 
	text-align: right;
	width:500px;
	position:absolute;
	right:0px;
	top:10px;
	font-size:9pt;
}
#searchsel{
	position:absolute;
	height:27px;
	right:220px;
}
#searchbtn{
	height:27px;
}
#searchbar{
	position:absolute;
	height:27px;
	right:48px;
	width:170px;
}
/*글목록 공지배경색*/
.notice{
	background: #F2F2F2;
}

/*게시판 글목록, 댓글목록*/
table{
	text-align: center;
	margin-bottom: 300px;
}
#main_thead{
	background-color: #D8D8D8;
}

/*글하단 등록,삭제,수정버튼*/
#write_div{
	position:relative;
	height:50px;
}
#write_btn, #delete_btn, #myedit_btn{
	position:absolute; 
	bottom:0px; 
	right:0px;
}
#modify_btn{
	position:absolute; 
	right:93px;
	bottom:0px;
}
#pwedit_btn{
	position:absolute; 
	right:125px;
	bottom:0px;
}
#withdraw_btn{
	position:absolute; 
	left:0px;
	bottom:0px;
}
/*댓글*/
#reply{
	font-size: 15pt;
    font-weight: bold;
}
/*글보기 readonly*/
#subject, #content{
	background-color:white;
}

/*글 제목 링크*/
.view_content:link{
	color:black;
}
.view_content:visited{
	color:black;
}